<div class="row">
    <div class="contenedor">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="logoAP" id="logoAP">
        </div>
        <div class="social">
            <a><img src="../../../assets/linkedin.png" alt=""></a>       
            <a><img src="../../../assets/instagram.png" alt=""></a>
            <a><img src="../../../assets/github.png" alt=""></a> 
        </div>   
        <div class="boton">
            <button type="button" class="btn btn-outline-light" (click)="login()">INGRESAR</button>
        </div>         
    </div>
</div>
    




