.row{
    background-color: #387d8b;
    padding: 20px;
    color: #fefefe;
}
.contenedor{
    width: auto;
}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;
    padding-left: 20px;
}

.img-proyecto{
    box-shadow: 10px 10px 5px #212529;
}