<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Organizador de materias</h2>
            <p>Un programa en python que permite organizar un arreglo de arreglos con materias, notas, promedios (En desarrollo)</p>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 parte2">
            <img src="../../assets/materiasProgramita.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>