<div class="row">
     
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a><img src="../../../assets/linkedin.png" alt=""></a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a><img src="../../../assets/twitter.png" alt=""></a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a><img src="../../../assets/instagram.png" alt=""></a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a><img src="../../../assets/github.png" alt=""></a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a><img src="../../../assets/facebook.png" alt=""></a>
    </div>
</div>

