.gradient-custom {
    /* fallback for old browsers */
    background: rgb(17, 122, 126);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(17, 203, 156), rgb(17, 122, 126));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(17, 203, 156, 1), rgba(17, 122, 126, 1))
    }