<div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img src="../../../assets/fotoPerfil.jpeg" class="img-fluid" id="fotoPerfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="parte1">Alessio Lautaro</p>
            <p id="parte2">Full Stack Developer Jr</p>
        </div>    
 
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <span>
            <h1 id="parte1">Acerca de mí</h1>
            <p id="parte2">Buenas mi nombre es Lautaro Alessio. Soy egresado de el colegio IPET 247 con el titulo de tecnico electronico y en estos momentos soy estudiante del segundo año de la carrera ingenieria en sistemas en la UTN FRC.</p>
        </span>
    </div>
</div>

