<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-2">
        <button type="button" >

        </button>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-11 col-md-11 col-sm-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of exp">
                    <td>{{Experiencia.nombreE}}</td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td>Editar</td>
                    <td>Borrar</td>
                </tr>
            </tbody>
        </table>    
    </div>
    </div>