<div class="row">
    <h1>Educación</h1>
    <div class = "col-lg-1"></div>
    <div class = "col-lg-11">
        <ul>
            <li>
                <h2>Estudio 1</h2> <h3> (años)</h3>
                <p>Que hiciste</p>
            </li>
            <li>
                <h2>Estudio 2</h2> <h3> (años)</h3>
                <p>Bailar</p>
            </li>
            <li>
                <h2>Estudio 3</h2> <h3> (años)</h3>
                <p>Re piola</p>
            </li>
        </ul>
    </div>
</div>