<div class="row">
    <h1>Hard y soft skills</h1>
    
    <div class="text-center col-sm-4 col-md-4 col lg-4 imagen-skill">
        <circle-progress           
            [titleFontSize]="'40'"
            [percent]="70"
            [radius]="70"
            [outerStrokeWidth]="10"
            [outerStrokeColor]="'#76C2AF'"
            [animation]="true"
            [animationDuration]="700"
            [showInnerStroke]="false"
            [backgroundColor]="'#fEfEfE'"
            [showBackground]="true"
            [imageSrc]="'../assets/python.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col lg-4 imagen-skill">
        <circle-progress
            [titleFontSize]="'40'"
            [percent]="50"
            [radius]="70"
            [outerStrokeWidth]="10"
            [outerStrokeColor]="'#76C2AF'"
            [animation]="true"
            [animationDuration]="700"
            [showInnerStroke]="false"
            [backgroundColor]="'#fEfEfE'"
            [showBackground]="true"
            [imageSrc]="'../assets/html5.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col lg-4 imagen-skill">
        <circle-progress
            [percent]="40"
            [radius]="70"
            [outerStrokeWidth]="10"
            [outerStrokeColor]="'#76C2AF'"
            [animation]="true"
            [animationDuration]="700"
            [showInnerStroke]="false"
            [backgroundColor]="'#fEfEfE'"
            [showBackground]="true"
            [titleFontSize]="'40'"
            [imageSrc]="'../assets/css3.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col lg-4 imagen-skill">
        <circle-progress
            [titleFontSize]="'40'"
            [percent]="100"
            [radius]="70"
            [outerStrokeWidth]="10"
            [outerStrokeColor]="'#76C2AF'"
            [animation]="true"
            [animationDuration]="700"
            [showInnerStroke]="false"
            [backgroundColor]="'#fEfEfE'"
            [showBackground]="true"
            [imageSrc]="'../assets/entrevista.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col lg-4 imagen-skill">
        <circle-progress
            [titleFontSize]="'40'"
            [percent]="100"
            [radius]="70"
            [outerStrokeWidth]="10"
            [outerStrokeColor]="'#76C2AF'"
            [animation]="true"
            [animationDuration]="700"
            [showInnerStroke]="false"
            [backgroundColor]="'#fEfEfE'"
            [showBackground]="true"
            [imageSrc]="'../assets/trabajoEquipo.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col lg-4 imagen-skill">
        <circle-progress
            [titleFontSize]="'40'"
            [percent]="70"
            [radius]="70"
            [outerStrokeWidth]="10"
            [outerStrokeColor]="'#76C2AF'"
            [innerStrokeColor]="'#76C2AF'"
            [animation]="true"
            [animationDuration]="700"
            [showInnerStroke]="false"
            [backgroundColor]="'#fEfEfE'"
            [showBackground]="true"
            [imageSrc]="'../assets/ingles.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
        ></circle-progress>
    </div>
</div>
